<!doctype html>
<html>
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title><%= name %></title>
	    <link rel="stylesheet" href="<%= @css %>">
    </head>
    <body>
	    <main>
	        <h1><%= name %><small> &mdash; <%= synopsis %></small></h1>
            <div style="text-align:right"><%= render(header_line.variables) %></div>
	        <% commentary.each do |paragraph| %>
		        <%= render(paragraph) %>
	        <% end %>
	        <h2>Code</h2>
	        <% self.code.each do |block| %>
		        <%= render(block) %>
	        <% end %>
	    </main>
    </body>
</html>
