<!doctype html>
<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= name %></title>
	<link rel="stylesheet" href="<%= @css %>">
    </head>
    <body>
	<main>
	    <h1><%= name %></h1>
	    <p><%= synopsis %></p>
	    <h2>Commentary</h2>
	    <% commentary.each do |paragraph| %>
		<p><%= render_paragraph(paragraph) %></p>
	    <% end %>
	    <h2>Code</h2>
	    <% code.each do |block| %>
		<%= render_block(block, level: 2) %>
	    <% end %>
	</main>
    </body>
</html>
